
@{
    Layout = "~/Views/Shared/_AccountLayout2.cshtml";

}
@model EManifestServices.Models.UserLoginModel

<!-- START wrapper-->

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", enctype = "multipart/form-data" }))
{
   
    @Html.HiddenFor(m => m.url)
    if (!Html.ValidationSummary().ToString().Contains("display:none"))
    {
        <div class="alert alert-danger">
            <strong>Alert ! </strong> @Html.ValidationSummary()
        </div>
    }


    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Username</label>
        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Enter username", required = "required", validationmessage = "Enter {0}", @class = "form-control" })

    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", required = "required", validationmessage = "Enter {0}", @class = "form-control" })
    </div>
    @*<div class="checkbox">
        <label>
            <input type="checkbox"> Remember Me
        </label>
        <label class="pull-right">
            <a href="#">Forgotten Password?</a>
        </label>
    </div>*@
    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
    @*<div class="social-login-content">
            <div class="social-button">
                <button type="button" class="btn social facebook btn-flat btn-addon mb-3">
                    <i class="fa fa-facebook"></i>Sign in with facebook
                </button>
                <button type="button" class="btn social twitter btn-flat btn-addon mt-2">
                    <i class="fa fa-twitter"></i>Sign in with twitter
                </button>
            </div>
        </div>*@
    <div class="register-link m-t-15 text-center">
        <p>
            Don't have account ?
            <a href="@Url.Action("Register")"> Sign Up Here</a>
        </p>
    </div>

}
<script>
    $(function () {
        var validator = $("#loginForm").kendoValidator().data("kendoValidator");

    });

</script>